.container{
	margin: 0 auto;
}

a{
	outline: none;
	text-decoration: none;
	font-size: 14px;
}

.sidebar-nav {
	background: #2f4050;
	width: 260px;
	float: left;
}

.sidebar-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background: #293846;
}

.sidebar-nav .metismenu {
	background: #2f4050;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.sidebar-nav .metismenu .mm-collapse li:first-child {
	margin-top: 5px;
}

.sidebar-nav .metismenu li:last-child {
	margin-bottom: 5px;
}

.sidebar-nav .metismenu>li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.mm-active::before {
	content: ".";
	position: absolute;
	top: 0;
	left: 0;
	height: 42px;
	width: 4px;
	background: #006621;
}

.sidebar-nav .metismenu a {
	position: relative;
	display: block;
	padding: 13px 15px;
	color: #B6BCBF;
	outline-width: 0;
	font-weight: 500;
	transition: all .3s ease-out;
}

.sidebar-nav .metismenu ul a {
	padding: 10px 15px 10px 30px;
}

.sidebar-nav .metismenu ul ul a {
	padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
	color: #fff;
	text-decoration: none;
	background: #36648B;
}

.sidebar-nav .metismenu-active {
	background: #36648B;
	color: #fff!important;
}

.content-tabs {
	position: relative;
	height: 40px;
	background: #fafafa;
	line-height: 40px;
	box-sizing: content-box;
	border-bottom: solid 2px #2f4050;
	margin-left: 260px;
	width:calc(60% - 260px);
}
