.nav-bar {
	width: 100%;
	overflow: hidden;
}

.roll-nav {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #999;
	z-index: 2;
	top: 0;
	background: #fff;
	border: 0;
	outline: 0
}

.roll-nav:hover {
	background: #fafafa;
}

.roll-left {
	left: 0px;
	border-right: solid 1px #ddd;
}

.roll-right {
	right: 0;
	border-left: solid 1px #E5E5E5;
}

.roll-close {
	right: 0;
	border-left: solid 1px #ddd;
	width: 96px !important;
}

.page-tabs {
	margin-left: 40px;
	width: 100000px;
	height: 40px;
	overflow: hidden;
	position: relative;
}

.page-tabs .page-tabs-content {
	float: left;
}

.page-tabs .fixed-tab {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	float: none !important;
	background: #fff;
}

.page-tabs .fixed_tab:hover {
	color: #EE7600;
	background: #DEDEDE;
	cursor: pointer;
}

.page-tabs a {
	display: block;
	float: left;
	border-right: solid 1px #ddd;
	padding: 0 15px;
	color: #333;
}

.page-tabs a i {
	color: #ccc;
}

.page-tabs a>i.icon {
	margin-right: 5px;
}

.page-tabs a i:hover {
	color: #c00;
}

.page-tabs a.active {
	background: #2f4050;
	color: #FFEBCD;
}

.page-tabs a.active i:hover,
.page-tabs a.active:hover {
	background: #293846;
	color: #FF8C00;
}

button.roll-nav:hover,
.page-tabs-content a:hover {
	color: #EE7600;
	background: #DEDEDE;
	cursor: pointer;
}

.roll-close .tabs-close {
	position: relative;
	display: block;
	box-sizing: border-box;
	background-color: #fff;
}

.roll-close .tabs-close li {
	display: block;
	position: relative;
}

.roll-close .tabs-close li>a {
	display: block;
	box-sizing: border-box;
	padding: 0 10px;
	text-align: right;
	color: #666;
}

.roll-close .tabs-close li>a:hover {
	color: #EE7600;
	background: #DEDEDE;
	cursor: pointer;
}

.roll-close .tabs-close li>a>i:hover {
	color: #EE7600;
}

.roll-close .tabs-close li>a>i {
	font-size: 18px;
	color: #999;
	margin-left: 4px;
	width: 12px;
	vertical-align: middle;
}

.roll-close dl.tabs-close-child {
	display: none;
	position: absolute;
	right: 0;
	top: 42px;
	width: 129px;
	padding: 5px 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	background-color: #fff;
	z-index: 100;
	border-radius: 0 0 2px 2px;
	white-space: nowrap;
	transition: all 0.5s;
}

.roll-close dl>dd {
	padding: 0 8px;
	line-height: 36px;
}

.roll-close dl>dd>a {
	color: #999;
}

.roll-close dl>dd>a:hover {
	color: #EE7600;
	cursor: pointer;
}

.roll-close dl>dd:first-child {
	border-bottom: 1px solid #E5E5E5;
}

.roll-nav ul,
.roll-nav li,
.roll-nav dl,
.roll-nav dd {
	margin: 0;
	padding: 0;
}

.roll-nav a {
	text-decoration: none;
	font-size: 14px;
}

.roll-nav .show-hide {
	display: block !important;
}